
body {background-color: #D7d0c8;
  color: #34353f;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 80vh;
  }

.list-group-item {
height: 40px;
width: 80px;
}

  
nav{
  background-color: #34353f;
}
.grey-text{
  color: #34353f;
}

.center {justify-content: center;
margin-bottom: 50px;
}

.pac-card {
  margin: 10px 10px 0px 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
  margin-top: 30px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#travel-input {
  background-color: #34353f;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500px;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  color: #ffffff;
}

#travel-input:focus {
  color: #ffffff;
}

#pac-input:focus {
  border-color: #4d90fe;
}
